<div class="card-container-box">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    Enrol a Game
                </mat-card-title>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>
                Team:
                <br/>
                <mat-form-field>
                    <mat-label>Your Team</mat-label>
                    <input matInput>
                </mat-form-field>
            </p>
            <p>
                Your Wish:
                <br/>
                <mat-form-field>
                    <mat-label>Price should be below HKD 300.</mat-label>
                    <input matInput>
                </mat-form-field>
            </p>
            <p>
                Comments:
                <br/>
                <mat-form-field>
                    <mat-label>More details for the gift. e.g. where to purchase.</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </p>
            <button mat-raised-button color="primary">Submit</button>
        </mat-card-content>
    </mat-card>
</div>