/* mat-sidenav {
    width: 200px;
} */

.mat-drawer-container {
    background-color: transparent;
    height: 100%;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.card-container-box {
  margin-top: 30px;
  margin-bottom: 10px;
}

.guide-img {
  width: 500px;
  height: 200px;
}